<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/assets/"
        data-template="vertical-menu-template-no-customizer"
>
<head>
    <title>Добавление кинотеатра</title>
    <link rel="stylesheet" th:href="@{/css/cinemas/add.css}"/>
    <script src="https://cdn.tiny.cloud/1/nm45cenz0abahc9my8nsfqipxqdm9lsmqbnmgcwhac83m0wi/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script th:src="@{/js/cinemas/tinymce.js}"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <header th:insert="~{blocks/sidebar :: sidebar}"></header>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold">Добавление кинотеатра</h4>
                    <section class="content">
                        <form method="post" th:object="${cinema}" th:action="@{/admin/cinemas/add}" class="mt-2" enctype="multipart/form-data">
                            <!-- Основные поля формы -->
                            <label for="name" class="form-label">Название:</label>
                            <input type="text" th:value="*{name}" name="name" id="name" placeholder="Введите название" class="form-control">
                            <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

                            <label for="description" class="form-label mt-2">Описание:</label>
                            <textarea name="description" id="description" placeholder="Введите описание" class="form-control mt-2" th:text="*{description}"></textarea>
                            <p style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>

                            <label for="conditions" class="form-label mt-2">Условия:</label>
                            <textarea name="conditions" id="conditions" placeholder="Введите условия" class="form-control mt-2" th:text="*{conditions}"></textarea>
                            <p style="color: red" th:if="${#fields.hasErrors('conditions')}" th:errors="*{conditions}"></p>

                            <!-- Поля загрузки файлов -->
                            <label for="logo" class="form-label mt-2">Загрузите логотип:</label>
                            <div class="drag-area" id="drag-area-logo">
                                <p>Перетащите файл сюда или нажмите для выбора файла</p>
                                <input type="file" name="logo" id="logo" accept="image/*" hidden>
                                <div class="preview" id="preview-logo"></div>
                            </div>
                            <small class="form-text text-center text-muted mt-2">Только изображения (JPEG, PNG)</small>

                            <br>
                            <label for="banner" class="form-label mt-2">Загрузите баннер:</label>
                            <div class="drag-area" id="drag-area-banner">
                                <p>Перетащите файл сюда или нажмите для выбора файла</p>
                                <input type="file" name="banner" id="banner" accept="image/*" hidden>
                                <div class="preview" id="preview-banner"></div>
                            </div>
                            <small class="form-text text-center text-muted mt-2">Только изображения (JPEG, PNG)</small>

                            <br>
                            <label for="additionalFiles" class="form-label mt-2">Дополнительные изображения:</label>
                            <div class="drag-area" id="drag-area-additional">
                                <p>Перетащите файлы сюда или нажмите для выбора файлов</p>
                                <input type="file" name="additionalFiles" id="additionalFiles" accept="image/*" multiple hidden>
                                <div class="preview" id="preview-additional"></div>
                            </div>
                            <small class="form-text text-center text-muted mt-2">Только изображения (JPEG, PNG), максимум 5 файлов</small>

                            <!-- SEO блок -->
                            <br><br>
                            <h4>SEO блок:</h4>
                            <label for="urlSEO" class="form-label mt-2">SEO URL:</label>
                            <input type="text" th:value="*{urlSEO}" name="urlSEO" id="urlSEO" placeholder="Введите SEO URL" class="form-control mt-2">
                            <p style="color: red" th:if="${#fields.hasErrors('urlSEO')}" th:errors="*{urlSEO}"></p>

                            <label for="titleSEO" class="form-label mt-2">SEO Заголовок:</label>
                            <input type="text" th:value="*{titleSEO}" name="titleSEO" id="titleSEO" placeholder="Введите SEO заголовок" class="form-control mt-2">
                            <p style="color: red" th:if="${#fields.hasErrors('titleSEO')}" th:errors="*{titleSEO}"></p>

                            <label for="keywordsSEO" class="form-label mt-2">SEO Ключевые слова:</label>
                            <input type="text" th:value="*{keywordsSEO}" name="keywordsSEO" id="keywordsSEO" placeholder="Введите SEO ключевые слова" class="form-control mt-2">
                            <p style="color: red" th:if="${#fields.hasErrors('keywordsSEO')}" th:errors="*{keywordsSEO}"></p>

                            <label for="descriptionSEO" class="form-label mt-2">SEO Описание:</label>
                            <textarea name="descriptionSEO" id="descriptionSEO" placeholder="Введите SEO описание" class="form-control mt-2" th:text="*{descriptionSEO}"></textarea>
                            <p style="color: red" th:if="${#fields.hasErrors('descriptionSEO')}" th:errors="*{descriptionSEO}"></p>

                            <!-- Поля для добавления залов -->
                            <div id="hallFieldsContainer"></div>

                            <br>
                            <button class="btn btn-outline-success waves-effect" type="button" onclick="addHallFields()">Добавить зал</button><br><br>

                            <!-- Кнопка для отправки формы -->
                            <button type="submit" class="btn btn-success mt-2">Добавить кинотеатр</button>
                        </form>
                    </section>
                </div>


                <script th:src="@{/js/cinemas/add.js}"></script>

            <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
</div>
</div>
<!-- / Layout wrapper -->
</body>
</html>
