.banner {
    width: 100%;
    height: 56vh;
    object-fit: cover;
}
.ad-container {
    width: 150px;
    height: 170px;
}
.sidebar {
    width: 150px;
    float: left;
}
.main-content {
    margin-left: 170px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.schedule-button {
    text-decoration: none;
    color: black;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
