<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/assets/"
        data-template="horizontal-menu-template-no-customizer"
>
<head>
    <head th:insert="~{blocks/links :: links}"></head>
    <title th:text="${news.name} + ' | Lincoln Plaza'">Lincoln Plaza</title>
    <link rel="stylesheet" th:href="@{/css/pages/user-part/news-details.css}">
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
    <div class="layout-container">
        <div th:insert="~{blocks/topbar :: topbar}"></div>

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Content -->
            <div class="content-wrapper ml-200">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="container mt-2">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <div class="row">
                                    <div class="col-md-9">
                                    <h2 th:text="${news.name}">name</h2>
                                    <img th:src="@{/img/{imageName}(imageName = ${news.mainImage})}"
                                         class="card-img-top logo-img"
                                         alt="News Image">
                                    <p th:text="${news.description}" class="mt-3"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ad-container ml-4 mt-4">
                                <img th:src="@{/assets/img/elements/13.jpg}" alt="Ad" class="img-fluid ad">
                                <img th:src="@{/assets/img/elements/15.jpg}" alt="Ad" class="img-fluid mt-3">
                                <img th:src="@{/assets/img/elements/15.jpg}" alt="Ad" class="img-fluid mt-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- / Content -->
        </div>
        <!--/ Layout container -->
    </div>
</div>
<div th:insert="~{blocks/footer :: footer}"></div>
<div th:insert="~{blocks/vuexy-scripts :: vuexy-scripts}"></div>
</body>
</html>


