<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/assets/"
        data-template="horizontal-menu-template-no-customizer"
>
<head>
    <head th:insert="~{blocks/links :: links}"></head>
    <title>Новости | Lincoln Plaza</title>
    <style>
        .ad-container {
            width: 150px;
            height: 300px;
            position: absolute;
            top: 110px;
            right: 90px;
        }

        .date {
            display: inline-block;
            padding: 5px 10px;
            background-color: #be85ee;
            color: white;
            border-radius: 15px;
            font-size: 14px;
        }

        .card {
            text-decoration: none;
            color: #212020;
        }
    </style>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
    <div class="layout-container">
        <div th:insert="~{blocks/topbar :: topbar}"></div>

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Content -->
            <div class="content-wrapper ml-200">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="container mt-2">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <div class="col-md-9">
                                    <h2 class="text-center">Новости</h2>
                                    <div th:if="${!news.isEmpty()}">
                                        <div class="row">
                                            <div class="col-md-4" th:each="newss : ${news}">
                                                <a th:href="'/pages/news/' + ${newss.id}">
                                                    <div class="card mb-4">
                                                        <img th:src="@{/img/{imageName}(imageName = ${newss.mainImage})}"
                                                             class="card-img-top logo-img"
                                                             alt="Action Image">
                                                        <div class="card-body">
                                                            <h5 class="card-title"
                                                                th:text="${newss.name}">Название</h5>
                                                            <p class="date"
                                                               th:text="${#temporals.format(newss.dateOfCreation, 'dd.MM.yyyy')}">
                                                            <p th:text="${#strings.abbreviate(newss.description, 100)}">
                                                                Описание</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ad-container ml-4 mt-4">
                                <img src="/assets/img/elements/13.jpg" alt="Ad" class="img-fluid ad">
                                <img src="/assets/img/elements/15.jpg" alt="Ad" class="img-fluid mt-3">
                                <img src="/assets/img/elements/15.jpg" alt="Ad" class="img-fluid mt-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- / Content -->
        </div>
        <div th:insert="~{blocks/footer :: footer}"></div>
        <!--/ Layout container -->
    </div>
</div>
<div th:insert="~{blocks/vuexy-scripts :: vuexy-scripts}"></div>
</body>
</html>


