<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/assets/"
        data-template="vertical-menu-template-no-customizer"
>
<head>
    <title>Добавление фильма</title>
    <link rel="stylesheet" th:href="@{/css/films/add.css}"/>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <header th:insert="~{blocks/sidebar :: sidebar}"></header>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold">Добавление фильма</h4>

                    <!-- Block for flash messages -->
                    <div th:if="${message}" class="alert alert-success" role="alert">
                        <span th:text="${message}"></span>
                    </div>
                    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                        <span th:text="${errorMessage}"></span>
                    </div>

                    <section class="content">
                        <form method="post" th:object="${film}" class="mt-3" enctype="multipart/form-data">

                            <label for="name" class="form-label">Название:</label>
                            <input type="text" th:value="*{name}" name="name" id="name" placeholder="Введите название" class="form-control">
                            <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

                            <label for="description" class="form-label mt-2">Описание:</label>
                            <textarea name="description" id="description" placeholder="Введите описание" class="form-control mt-2" th:text="*{description}"></textarea>
                            <p style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>


                            <label for="mainFile" class="form-label mt-2">Главное изображение:</label>
                            <input type="file" name="file" id="mainFile" accept="image/*" class="form-control mt-2">
                            <small class="form-text text-center text-muted mt-2">Только изображения (JPEG, PNG)</small><br>

                            <!-- Поле для загрузки дополнительных изображений -->
                            <label for="additionalFiles" class="form-label mt-2">Дополнительные изображения (до 5 штук):</label>
                            <div class="drag-area" id="drag-area">
                                <p>Перетащите файлы сюда или нажмите для выбора файлов</p>
                                <input type="file" name="additionalFiles" id="additionalFiles" multiple accept="image/*" hidden>
                                <div class="preview" id="preview"></div>
                            </div>
                            <small class="form-text text-center text-muted mt-2">Только изображения (JPEG, PNG)</small><br>



                            <label for="link" class="form-label mt-2">Ссылка на трейлер:</label>
                            <input type="text" th:value="*{link}" name="link" id="link" placeholder="Введите ссылку на трейлер" class="form-control mt-2">
                            <p style="color: red" th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></p>

                            <label for="date" class="form-label mt-2">Дата начала показа:</label>
                            <input type="date" id="date" class="form-control" th:field="*{date}">
                            <p style="color: red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p>

                            <br>
                            <h5>Типы кино:</h5>
                            <div class="form-group">
                                <div class="form-check form-check-inline" th:each="type : ${allFilmTypes}">
                                    <label>
                                        <input class="form-check-input" type="checkbox" name="filmTypes" th:value="${type}" th:id="'type_' + ${type}">
                                    </label>
                                    <label class="form-check-label" th:for="'type_' + ${type}" th:text="${type}"></label>
                                </div>
                            </div>

                            <br><br>
                            <h4>SEO блок:</h4>

                            <label for="urlSEO" class="form-label mt-2">SEO URL:</label>
                            <input type="text" th:value="*{urlSEO}" name="urlSEO" id="urlSEO" placeholder="Введите SEO URL" class="form-control mt-2">
                            <p style="color: red" th:if="${#fields.hasErrors('urlSEO')}" th:errors="*{urlSEO}"></p>

                            <label for="titleSEO" class="form-label mt-2">SEO Заголовок:</label>
                            <input type="text" th:value="*{titleSEO}" name="titleSEO" id="titleSEO" placeholder="Введите SEO заголовок" class="form-control mt-2">
                            <p style="color: red" th:if="${#fields.hasErrors('titleSEO')}" th:errors="*{titleSEO}"></p>

                            <label for="keywordsSEO" class="form-label mt-2">SEO Ключевые слова:</label>
                            <input type="text" th:value="*{keywordsSEO}" name="keywordsSEO" id="keywordsSEO" placeholder="Введите SEO ключевые слова" class="form-control mt-2">
                            <p style="color: red" th:if="${#fields.hasErrors('keywordsSEO')}" th:errors="*{keywordsSEO}"></p>

                            <label for="descriptionSEO" class="form-label mt-2">SEO Описание:</label>
                            <textarea name="descriptionSEO" id="descriptionSEO" placeholder="Введите SEO описание" class="form-control mt-2" th:text="*{descriptionSEO}"></textarea>
                            <p style="color: red" th:if="${#fields.hasErrors('descriptionSEO')}" th:errors="*{descriptionSEO}"></p>

                            <h4 class="mt-4">Дополнительная информация:</h4>

                            <label for="year" class="form-label mt-2">Год:</label>
                            <input type="number" name="year" id="year" placeholder="Введите год" class="form-control mt-2">

                            <label for="country" class="form-label mt-2">Страна:</label>
                            <input type="text" name="country" id="country" placeholder="Введите страну" class="form-control mt-2">

                            <label for="musician" class="form-label mt-2">Музыкант:</label>
                            <input type="text" name="musician" id="musician" placeholder="Введите музыканта" class="form-control mt-2">

                            <label for="producer" class="form-label mt-2">Продюсеры:</label>
                            <input type="text" name="producer" id="producer" placeholder="Введите продюсеров через запятую" class="form-control mt-2">

                            <label for="director" class="form-label mt-2">Режиссёр:</label>
                            <input type="text" name="director" id="director" placeholder="Введите режиссёра" class="form-control mt-2">

                            <label for="writer" class="form-label mt-2">Сценаристы:</label>
                            <input type="text" name="writer" id="writer" placeholder="Введите сценаристов через запятую" class="form-control mt-2">

                            <label for="genre" class="form-label mt-2">Жанры:</label>
                            <input type="text" name="genre" id="genre" placeholder="Введите жанры через запятую" class="form-control mt-2">

                            <label for="age" class="form-label mt-2">Возрастной рейтинг:</label>
                            <input type="number" name="age" id="age" placeholder="Введите возрастной рейтинг" class="form-control mt-2">

                            <label for="time" class="form-label mt-2">Продолжительность (минуты):</label>
                            <input type="number" name="time" id="time" placeholder="Введите продолжительность в минутах" class="form-control mt-2">

                            <button type="submit" class="btn btn-success mt-4">Добавить</button>
                        </form>
                    </section>
                </div>


            </div>
            <!-- / Content -->
            <script th:src="@{/js/films/add.js}"></script>
        </div>
        <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
</div>


</body>
</html>
