<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/assets/"
        data-template="vertical-menu-template-no-customizer"
>
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Пользователи</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon/favicon.ico}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons -->
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome.css}" />
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/tabler-icons.css}" />
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/flag-icons.css}" />

    <!-- Core CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/css/rtl/core.css}" />
    <link rel="stylesheet" th:href="@{/assets/vendor/css/rtl/theme-default.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/demo.css}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/node-waves/node-waves.css}" />
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/typeahead-js/typeahead.css}" />
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/select2/select2.css}" />
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/flatpickr/flatpickr.css}" />
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/quill/typography.css}" />
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/quill/katex.css}" />
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/quill/editor.css}" />

    <!-- Page CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/css/pages/app-kanban.css}" />

    <!-- Helpers -->
    <script th:src="@{/assets/vendor/js/helpers.js}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/assets/js/config.js}"></script>
    <script th:src="@{/js/sidebar-active/sidebar-active-element.js}"></script>
    <link rel="stylesheet" th:href="@{/css/users/user-list.css}">

</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <header th:insert="~{blocks/sidebar :: sidebar}"></header>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
                <!-- Navbar -->
                <nav
                        class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                        id="layout-navbar"
                >
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="ti ti-menu-2 ti-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

                        <div class="navbar-nav align-items-center">
                            <div class="nav-item navbar-search-wrapper mb-0">
                                <a class="nav-item nav-link search-toggler d-flex align-items-center px-0" href="javascript:void(0);">
                                    <span class="d-none d-md-inline-block text-muted">Панель администрирования</span>
                                </a>
                            </div>
                        </div>

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img th:src="@{/assets/img/avatars/1.png}" alt class="h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" th:href="'/admin/users/edit/' + ${userId}">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img th:src="@{/assets/img/avatars/1.png}" alt class="h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block" th:text="${firstName} + ' ' + ${lastName}">John Doe</span>
                                                    <small class="text-muted" th:text="${role}">Admin</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <form th:action="@{/logout}" method="post">
                                            <button type="submit" class="dropdown-item">
                                                <i class="ti ti-logout me-2 ti-sm"></i>
                                                <span class="align-middle">Log Out</span>
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>


                </nav>
                <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row py-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="fw-bold py-3 mb-2">Пользователи</h4>
                            <form th:action="@{/admin/users}" method="get" class="form-inline d-flex justify-content-between align-items-center">
                                <input type="text" name="search" th:value="${search}" placeholder="Поиск пользователей..." class="form-control mr-sm-2">
                                <button type="submit" class="btn btn-label-info waves-effect">Search</button>
                            </form>
                            <button id="create-city" type="button" class="btn btn-primary" data-toggle="modal" data-target="#cityEditDialog">Управление городами</button>
                        </div>
                    </div>


                    <div class="modal fade" id="cityEditDialog" tabindex="-1" role="dialog" aria-labelledby="cityEditDialogLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cityEditDialogLabel">Управление городами</h5>
                                    <p class="small">Удаление города доступно только в случае, если ни один из пользователей его не выбирал</p>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Имя</th>
                                            <th>Действия</th>
                                        </tr>
                                        </thead>
                                        <tbody id="city-list">
                                        <!--Города тут загрузит автоматом-->
                                        </tbody>
                                    </table>


                                    <form id="city-form">
                                        <input type="hidden" id="city-id">
                                        <div class="form-group">
                                            <label for="city-name" class="col-form-label mt-2">Название города</label>
                                            <input type="text" class="form-control" id="city-name">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                    <button id="save-city-button" type="button" class="btn btn-primary">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Invoice List Table -->
                    <div class="card">
                        <div class="card-datatable table-responsive">
                            <table class="invoice-list-table table border-top">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Дата регистрации</th>
                                    <th class="text-truncate">День рождения</th>
                                    <th>Email</th>
                                    <th>Телефон</th>
                                    <th>ФИО</th>
                                    <th>Псевдоним</th>
                                    <th>Город</th>
                                    <th>Ред./Удал.</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:id="'row-' + ${user.id}" th:each="user : ${users}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${#temporals.format(user.dateOfRegistration, 'dd.MM.yyyy')}"></td>
                                    <td th:text="${user.dateOfBirthday != null ? #temporals.format(user.dateOfBirthday, 'dd.MM.yyyy') : 'Не указано'}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.phoneNumber != null ? user.phoneNumber : 'Не указано'}"></td>
                                    <td th:text="${user.firstName != null && user.lastName != null ? user.firstName + ' ' + user.lastName : (user.firstName != null ? user.firstName : (user.lastName != null ? user.lastName : 'Не указано'))}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.city != null ? user.city.name : 'Не указано'}"></td>


                                    <td class="action-buttons">
                                        <a th:href="@{/admin/users/edit/{id}(id=${user.id})}" class="btn btn-warning ti ti-edit"></a>

                                            <form th:action="'/admin/users/' + ${user.id} + '/remove'" method="post">
                                                <button class="btn btn-danger rounded" type="submit"><i class="fa fa-trash"></i></button>
                                            </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="pagination" th:if="${totalPages > 1}">
                        <ul class="pagination justify-content-center">
                            <li th:if="${currentPage > 0}" class="page-item">
                                <a th:href="@{/admin/users(page=${currentPage - 1})}" class="page-link">Предыдущая</a>
                            </li>

                            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" class="page-item"
                                th:classappend="${i == currentPage} ? ' active' : ''">
                                <a th:href="@{/admin/users(page=${i})}" class="page-link" th:text="${i + 1}"></a>
                            </li>

                            <li th:if="${currentPage < totalPages - 1}" class="page-item">
                                <a th:href="@{/admin/users(page=${currentPage + 1})}" class="page-link">Следующая</a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
            <!-- / Content -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

<!-- / Layout wrapper -->
<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/vendor/libs/node-waves/node-waves.js}"></script>

<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>
<script th:src="@{/assets/vendor/libs/typeahead-js/typeahead.js}"></script>

<script th:src="@{/assets/vendor/js/menu.js}"></script>
<!-- endbuild -->

<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script th:src="@{/js/users/user-list-adding-a-city.js}"></script>
</body>
</html>
