<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/assets/"
        data-template="vertical-menu-template-no-customizer"
>
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Пользователи</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons -->
    <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="/assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/rtl/core.css" />
    <link rel="stylesheet" href="/assets/vendor/css/rtl/theme-default.css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/quill/typography.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/quill/katex.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/quill/editor.css" />

    <!-- Page CSS -->

    <link rel="stylesheet" href="/assets/vendor/css/pages/app-kanban.css" />
    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"></script>
    <script src="/js/sidebar-active/sidebar-active-element.js"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <header th:insert="~{blocks/sidebar :: sidebar}"></header>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->

            <nav
                    class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                    id="layout-navbar"
            >
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="ti ti-menu-2 ti-sm"></i>
                    </a>
                </div>

                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <!-- Search -->
                    <div class="navbar-nav align-items-center">
                        <div class="nav-item navbar-search-wrapper mb-0">
                            <a class="nav-item nav-link search-toggler d-flex align-items-center px-0" href="javascript:void(0);">
                                <i class="ti ti-search ti-md me-2"></i>
                                <span class="d-none d-md-inline-block text-muted">Search </span>
                            </a>
                        </div>
                    </div>
                    <!-- /Search -->

                    <ul class="navbar-nav flex-row align-items-center ms-auto">



                        <!-- User -->
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img src="/assets/img/avatars/1.png" alt class="h-auto rounded-circle" />
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="pages-account-settings-account.html">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img src="/assets/img/avatars/1.png" alt class="h-auto rounded-circle" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="fw-semibold d-block">John Doe</span>
                                                <small class="text-muted">Admin</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="pages-profile-user.html">
                                        <i class="ti ti-user-check me-2 ti-sm"></i>
                                        <span class="align-middle">My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="pages-account-settings-account.html">
                                        <i class="ti ti-settings me-2 ti-sm"></i>
                                        <span class="align-middle">Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="pages-account-settings-billing.html">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 ti ti-credit-card me-2 ti-sm"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-label-danger w-px-20 h-px-20"
                          >2</span
                          >
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="pages-help-center-landing.html">
                                        <i class="ti ti-lifebuoy me-2 ti-sm"></i>
                                        <span class="align-middle">Help</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="pages-faq.html">
                                        <i class="ti ti-help me-2 ti-sm"></i>
                                        <span class="align-middle">FAQ</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="pages-pricing.html">
                                        <i class="ti ti-currency-dollar me-2 ti-sm"></i>
                                        <span class="align-middle">Pricing</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <button type="submit" class="dropdown-item">
                                            <i class="ti ti-logout me-2 ti-sm"></i>
                                            <span class="align-middle">Log Out</span>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <!--/ User -->
                    </ul>
                </div>

                <!-- Search Small Screens -->
                <div class="navbar-search-wrapper search-input-wrapper d-none">
                    <input
                            type="text"
                            class="form-control search-input container-xxl border-0"
                            placeholder="Search..."
                            aria-label="Search..."
                    />
                    <i class="ti ti-x ti-sm search-toggler cursor-pointer"></i>
                </div>
            </nav>

            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4">Пользователи</h4>

                    <!-- Invoice List Table -->
                    <div class="card">
                        <div class="card-datatable table-responsive">
                            <table class="invoice-list-table table border-top">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Дата регистрации</th>
                                    <th class="text-truncate">День рождения</th>
                                    <th>Email</th>
                                    <th>Телефон</th>
                                    <th>ФИО</th>
                                    <th>Псевдоним</th>
                                    <th>Город</th>
                                    <th>Ред./Удал.</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:id="'row-' + ${user.id}" th:each="user : ${users}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${#temporals.format(user.dateOfRegistration, 'dd-MM-yyyy')}"></td>
                                    <td th:text="${user.dateOfBirthday != null ? #temporals.format(user.dateOfBirthday, 'dd-MM-yyyy') : 'Не указано'}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.phoneNumber != null ? user.phoneNumber : 'Не указано'}"></td>
                                    <td th:text="${user.firstName != null && user.lastName != null ? user.firstName + ' ' + user.lastName : (user.firstName != null ? user.firstName : (user.lastName != null ? user.lastName : 'Не указано'))}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.city != null ? user.city.name : 'Не указано'}"></td>


                                    <td class="action-buttons">
                                            <button id="edit-user" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#userEditDialog" th:data-userId="${user.id}"><i class="fas fa-edit"></i></button>

                                            <form th:action="'/admin/users/' + ${user.id} + '/remove'" method="post">
                                                <button class="btn btn-danger rounded" type="submit"><i class="fa fa-trash"></i></button>
                                            </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>



            <div class="modal fade" id="userEditDialog" tabindex="-1" role="dialog" aria-labelledby="userEditDialogLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="userEditDialogLabel">Edit user</h5>
                        </div>
                        <div class="modal-body">
                            <form>
                                <input type="hidden" id="user-id">
                                <div class="form-group">
                                    <label for="user-name" class="col-form-label">User name</label>
                                    <input type="text" class="form-control" id="user-name">
                                </div>
                                <div class="form-group">
                                    <label for="user-email" class="col-form-label">Email</label>
                                    <input type="email" class="form-control" id="user-email">
                                </div>
                                <div class="form-group">
                                    <label for="user-address" class="col-form-label">Address</label>
                                    <input type="text" class="form-control" id="user-address">
                                </div>
                                <div class="form-group">
                                    <label for="user-phoneNumber" class="col-form-label">Phone Number</label>
                                    <input type="text" class="form-control" id="user-phoneNumber">
                                </div>
                                <div class="form-group">
                                    <label for="user-dateOfBirthday" class="col-form-label">Date of Birthday</label>
                                    <input type="date" class="form-control" id="user-dateOfBirthday">
                                </div>
                                <div class="form-group">
                                    <label for="user-gender" class="col-form-label">Gender</label>
                                    <select class="form-control" id="user-gender">
                                        <option value="prefer_not_to_say">Prefer not to say</option>
                                        <option value="female">Female</option>
                                        <option value="male">Male</option>
                                        <option value="non_binary">Non-binary</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="user-firstName" class="col-form-label">First Name</label>
                                    <input type="text" class="form-control" id="user-firstName">
                                </div>
                                <div class="form-group">
                                    <label for="user-lastName" class="col-form-label">Last Name</label>
                                    <input type="text" class="form-control" id="user-lastName">
                                </div>
                                <div class="form-group">
                                    <label for="user-city" class="col-form-label">City</label>
                                    <select id="user-city" class="form-control">
                                    </select>
                                </div>


                                <input type="hidden" id="user-role">
                                <input type="hidden" id="user-dateOfRegistration">
                                <input type="hidden" id="user-password">

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="save-user-button" type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
                <!-- / Content -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>

<!-- / Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/popper/popper.js"></script>
<script src="/assets/vendor/js/bootstrap.js"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/assets/vendor/libs/node-waves/node-waves.js"></script>

<script src="/assets/vendor/libs/hammer/hammer.js"></script>
<script src="/assets/vendor/libs/typeahead-js/typeahead.js"></script>

<script src="/assets/vendor/js/menu.js"></script>

<!-- endbuild -->

<!-- Main JS -->
<script src="/assets/js/main.js"></script>
<script>
    $('#userEditDialog').on('shown.bs.modal', function (event) {
        let button = $(event.relatedTarget); // Button that triggered the modal
        let userId = button.data('userid'); // Extract info from data-* attributes

        if (userId) {
            $.get({
                url: '/admin/api/v1/user/' + userId,
                success: (data) => {
                    let modal = $(this);
                    modal.find('#user-id').val(data.id);
                    modal.find('#user-name').val(data.username);
                    modal.find('#user-password').val(data.password);
                    modal.find('#user-email').val(data.email);
                    modal.find('#user-address').val(data.address);
                    modal.find('#user-phoneNumber').val(data.phoneNumber);
                    modal.find('#user-dateOfBirthday').val(data.dateOfBirthday);
                    modal.find('#user-gender').val(data.gender);
                    modal.find('#user-firstName').val(data.firstName);
                    modal.find('#user-lastName').val(data.lastName);
                    modal.find('#user-role').val(data.role); // Добавьте это
                    modal.find('#user-dateOfRegistration').val(data.dateOfRegistration); // Добавьте это

                    let citySelect = modal.find('#user-city');
                    citySelect.empty(); // Очистка селектора
                    $.get({
                        url: '/admin/users/cities',
                        success: (data) => {
                            data.forEach(city => {
                                citySelect.append(new Option(city.name, city.id));
                            });
                            citySelect.val(data.city.id); // Установка текущего города пользователя
                        },
                        error: (err) => {
                            alert(err);
                        }
                    });

                },
                error: (err) => {
                    alert(err);
                }
            });
        }
    });

    $('#save-user-button').click(function() {
        let modal = $('#userEditDialog');
        let user = {
            id: modal.find('#user-id').val(),
            username: modal.find('#user-name').val(),
            password: modal.find('#user-password').val(),
            email: modal.find('#user-email').val(),
            address: modal.find('#user-address').val(),
            phoneNumber: modal.find('#user-phoneNumber').val(),
            dateOfBirthday: modal.find('#user-dateOfBirthday').val(),
            gender: modal.find('#user-gender').val(),
            firstName: modal.find('#user-firstName').val(),
            lastName: modal.find('#user-lastName').val(),
            role: modal.find('#user-role').val(),
            dateOfRegistration: modal.find('#user-dateOfRegistration').val(),
            cityId: Number(modal.find('#user-city').val()),
        };

        // Проверка, чтобы не отправлять null значения
        if (!user.role) {
            delete user.role;
        }
        if (!user.dateOfRegistration) {
            delete user.dateOfRegistration;
        }

        // Проверка, чтобы не отправлять пустые значения
        if (!modal.find('#user-dateOfBirthday').val().trim()) {
            delete user.dateOfBirthday;
        }

        let dateOfRegistration = modal.find('#user-dateOfRegistration').val();
        if (dateOfRegistration) {
            let parts = dateOfRegistration.split(',');
            user.dateOfRegistration = `${parts[0]}-${parts[1].padStart(2, '0')}-${parts[2].padStart(2, '0')}`;
        }

        $.ajax({
            url: '/admin/api/v1/user',
            type: 'POST',
            data: JSON.stringify(user),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: () => {
                location.reload();
            },
            error: (err) => {
                alert(err);
            }
        });

        modal.modal('hide');
    });

</script>

</body>
</html>
