    <div th:fragment="sidebar">

        <meta name="description" content=""/>

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" th:href="@{/assets/images/favicon/favicon.ico}" />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
              rel="stylesheet" />

        <!-- Icons -->
        <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/fonts/tabler-icons.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/fonts/flag-icons.css}" />

        <!-- Core CSS -->
        <link rel="stylesheet" th:href="@{/assets/vendor/css/rtl/core.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/css/rtl/theme-default.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/demo.css}" />

        <!-- Vendors CSS -->
        <link rel="stylesheet" th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/libs/node-waves/node-waves.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/libs/typeahead-js/typeahead.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/libs/select2/select2.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/libs/flatpickr/flatpickr.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/libs/quill/typography.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/libs/quill/katex.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/libs/quill/editor.css}" />

        <!-- Page CSS -->
        <link rel="stylesheet" th:href="@{/assets/vendor/css/pages/app-kanban.css}" />
        <link rel="stylesheet" th:href="@{/css/films/edit.css}"/>

        <!-- Helpers -->
        <script th:src="@{/assets/vendor/js/helpers.js}"></script>

        <!-- Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
        <script th:src="@{/assets/js/config.js}"></script>
        <script th:src="@{/js/sidebar-active/sidebar-active-element.js}"></script>
        <!-- Navbar -->
        <nav
                class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                id="layout-navbar"
        >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                    <i class="ti ti-menu-2 ti-sm"></i>
                </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

                <div class="navbar-nav align-items-center">
                    <div class="nav-item navbar-search-wrapper mb-0">
                        <a class="nav-item nav-link search-toggler d-flex align-items-center px-0" href="javascript:void(0);">
                            <span class="d-none d-md-inline-block text-muted">Панель администрирования</span>
                        </a>
                    </div>
                </div>

                <ul class="navbar-nav flex-row align-items-center ms-auto">
                    <!-- User -->
                    <li class="nav-item navbar-dropdown dropdown-user dropdown">
                        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                            <div class="avatar avatar-online">
                                <img th:src="@{/assets/img/avatars/1.png}" alt class="h-auto rounded-circle" />
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" th:href="@{'/admin/users/edit/' + ${userId}}">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar avatar-online">
                                                <img src="/assets/img/avatars/1.png" alt class="h-auto rounded-circle" />
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <span class="fw-semibold d-block" th:text="${username}">John Doe</span>
                                            <small class="text-muted" th:text="${role}">Admin</small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li>
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" class="dropdown-item">
                                        <i class="ti ti-logout me-2 ti-sm"></i>
                                        <span class="align-middle">Log Out</span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <!--/ User -->
                </ul>
            </div>


        </nav>
        <!-- / Navbar -->


        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
                <a th:href="@{/}" class="app-brand-link">
                <span class="app-brand-logo demo">
                    <img th:src="@{/assets/images/free-icon-audience-3350561.png}" style="width: 32px; height: 26px; fill: none">
                </span>
                    <span class="app-brand-text demo menu-text fw-bold">Lincoln Plaza</span>
                </a>

                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                    <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
                    <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
                </a>
            </div>

            <div class="menu-inner-shadow"></div>

            <!-- Менюшка -->
            <ul class="menu-inner py-1">
                <!-- Page -->
                <li class="menu-item">
                    <a th:href="@{/admin/stats}" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-arrow-big-up-lines"></i>
                        <div data-i18n="Invoice">Статистика</div>
                        <div id="new-applications-count" class="badge bg-label-danger rounded-pill ms-auto"></div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/admin/banners-and-sliders}" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-slideshow"></i>
                        <div data-i18n="Page 2">Баннера/Слайдеры</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/admin/films}" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-camera-plus"></i>
                        <div data-i18n="Page 3">Фильмы</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/admin/cinemas}" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-apps"></i>
                        <div data-i18n="Page 4">Кинотеатры</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/admin/news}" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-paperclip"></i>
                        <div data-i18n="Page 5">Новости</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/admin/actions}" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-currency-dollar"></i>
                        <div data-i18n="Page 6">Акции</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/admin/pages}" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-page-break"></i>
                        <div data-i18n="Page 7">Страницы</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/admin/users}" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-user"></i>
                        <div data-i18n="Page 8">Пользователи</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/admin/email-sending}" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-mail-forward"></i>
                        <div data-i18n="Page 9">Рассылка</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/admin/schedules}" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-schema"></i>
                        <div data-i18n="Page 10">Расписания</div>
                    </a>
                </li>
            </ul>
        </aside>

        <!-- Core JS -->
        <!-- build:js assets/vendor/js/core.js -->
        <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
        <script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
        <script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
        <script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
        <script th:src="@{/assets/vendor/libs/node-waves/node-waves.js}"></script>
        <script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>
        <script th:src="@{/assets/vendor/libs/typeahead-js/typeahead.js}"></script>
        <script th:src="@{/assets/vendor/js/menu.js}"></script>
        <!-- endbuild -->

        <!-- Main JS -->
        <script th:src="@{/assets/js/main.js}"></script>
        <!-- Page JS -->

    </div>