<div th:fragment="topbar">
    <style>
        .layout-navbar {
            z-index: 1060;
            position: fixed;
            top: 0;
            width: 100%;
        }

        .layout-menu-horizontal {
            margin-top: 0;
            z-index: 1020;
            position: fixed;
            top: 0;
            width: 100%;
        }

        .content-wrapper {
            padding-top: 75px;
        }

        .navbar-nav .nav-item {
            margin-right: 15px;
        }
        .user-buttons {
            display: flex;
            align-items: center;
        }
        .user-buttons .btn {
            margin-right: 10px;
        }
        .user-buttons form {
            margin: 0;
        }
        .input-group {
            margin-right: 15px;
        }

        .phone-numbers {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-align: center;
        }

        .phone-number {
            margin: 0;
        }
    </style>

    <!-- Navbar -->
    <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
        <div class="container-xxl">
            <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
                <a href="/main" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                    <img src="/img/free-icon-audience-3350561.png" style="width: 32px; height: 26px; fill: none">
                </span>
                    <span class="app-brand-text demo menu-text fw-bold">Lincoln Plaza</span>
                </a>

            </div>


            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                <ul class="navbar-nav flex-row align-items-center ms-auto">
                    <li class="nav-item phone-numbers">
                        <p th:if="${firstNumber} != null" th:text="${firstNumber}" class="phone-number"></p>
                        <p th:if="${secondNumber} != null" th:text="${secondNumber}" class="phone-number"></p>
                    </li>
                    <li class="nav-item">
                        <div class="social-icon my-3">
                            <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-facebook me-2">
                                <i class="ti ti-brand-facebook"></i>
                            </a>
                            <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-twitter me-2">
                                <i class="ti ti-brand-twitter"></i>
                            </a>
                            <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-linkedin me-2">
                                <i class="ti ti-brand-linkedin"></i>
                            </a>
                            <a href="/admin/stats" class="btn btn-icon btn-sm btn-github">
                                <i class="ti ti-brand-github"></i>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <form class="d-flex">
                            <div class="input-group">
                                <span class="input-group-text"><i class="tf-icons ti ti-search"></i></span>
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                        </form>
                    </li>
                    <li class="nav-item">
                        <div class="user-buttons" th:if="${userId != null}">
                            <a class="btn rounded-pill btn-outline-primary waves-effect" th:href="'/user/edit/' + ${userId}" th:text="${firstName} + ' ' + ${lastName}">Редактировать</a>
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="btn rounded-pill btn-outline-danger waves-effect">
                                    <i class="ti ti-logout me-2 ti-sm"></i>
                                    <span class="align-middle">Выйти</span>
                                </button>
                            </form>
                        </div>
                        <div class="user-buttons" th:if="${userId == null}">
                            <a class="btn btn-outline-success waves-effect" th:href="@{/login}">Войти</a>
                            <a class="btn btn-outline-primary waves-effect" th:href="@{/registration}">Зарегистрироваться</a>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Search Small Screens -->
            <div class="navbar-search-wrapper search-input-wrapper container-xxl d-none">
                <input
                        type="text"
                        class="form-control search-input border-0"
                        placeholder="Search..."
                        aria-label="Search..."
                />
                <i class="ti ti-x ti-sm search-toggler cursor-pointer"></i>
            </div>
        </div>
    </nav>
    <!-- / Navbar -->

    <!-- Menu -->
    <aside id="layout-menu" class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0" style="top: 60px;">
        <div class="container-xxl d-flex h-100">
            <ul class="menu-inner py-1">
                <li class="menu-item">
                    <a href="/main" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-smart-home"></i>
                        <div data-i18n="Page 1">Главная</div>
                    </a>
                </li>


                <li class="menu-item">
                    <a href="/posters" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons ti ti-camera-plus"></i>
                        <div data-i18n="Page 2">В кино</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="/posters" class="menu-link">
                                <i class="menu-icon tf-icons ti ti-zoom-in-area"></i>
                                <div data-i18n="Analytics">Афиша</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/posters/upcoming" class="menu-link">
                                <i class="menu-icon tf-icons ti ti-file-import"></i>
                                <div data-i18n="Analytics">Скоро</div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item">
                    <a href="/schedule" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-calendar-event"></i>
                        <div>Расписание</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/cinemas" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-movie"></i>
                        <div>Кинотеатры</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/actions" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-currency-dollar"></i>
                        <div>Акции</div>
                    </a>
                </li>

                <!------------------------------------------------------------>

                <li class="menu-item">
                    <a href="javascript:void(0)" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons ti ti-menu-2"></i>
                        <div>Подробнее</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="/pages/about-cinemas" class="menu-link">
                                <i class="menu-icon tf-icons ti ti-file-description"></i>
                                <div>О кинотеатре</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/pages/news" class="menu-link">
                                <i class="menu-icon tf-icons ti ti-news"></i>
                                <div>Новости</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/pages/cafe-bar" class="menu-link">
                                <i class="menu-icon tf-icons ti ti-tools-kitchen-2"></i>
                                <div>Кафе-Бар</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/pages/vip-hall" class="menu-link">
                                <i class="menu-icon tf-icons ti ti-diamond"></i>
                                <div>Vip зал</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/pages/children-room" class="menu-link">
                                <i class="menu-icon tf-icons ti ti-mood-kid"></i>
                                <div>Детская комната</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/pages/advertisement" class="menu-link">
                                <i class="menu-icon tf-icons ti ti-ad"></i>
                                <div>Реклама</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/pages/mobile-app" class="menu-link">
                                <i class="menu-icon tf-icons ti ti-device-mobile"></i>
                                <div>Мобильное приложение</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/pages/contacts" class="menu-link">
                                <i class="menu-icon tf-icons ti ti-map-2"></i>
                                <div>Контакты</div>
                            </a>
                        </li>
                        <li th:each="page : ${nonDefaultActivePages}" class="menu-item">
                            <a th:href="@{/pages/{id}(id=${page.id})}" class="menu-link">
                                <i class="menu-icon tf-icons ti ti-page-break"></i>
                                <div th:text="${page.name}">Page Name</div>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </aside>
    <!-- / Menu -->
</div>
